
header{
    color:midnightblue;
    background-color:white;
    float:left;
    width:100%
}

img.logo{
    width:60px;
    height: 60px;
    float:left;
}

.logo_top{
    float:left;
    padding-bottom: 5px;
    padding-top:5px;
}

body{
    /*background-color: powderblue;*/
    text-align: center;
}


img.first_intro{
    opacity:0.3;
 
}

div.first_intro{
    
}

.top{
    float:left;
}

p.title{
    font-size:2px;
}

.tusin_icon{
    float:left;
    border:solid;
    border-color:blue;
    border-width:thin;
    border-radius: 0.3em;
    font-size: large;
    margin-top:20px;
    margin-bottom:20px;
    margin-left:20px;
}

.title{
    font-family:serif;

}

div#news{
    margin:0 auto;
}

div#newicon{
    float:right;
}


img.newicon{
    width:50px;
    height:25px;
}

div.two_content{  
    display:flex;
    justify-content: center;
}


div#nintei{
    background-color: royalblue;
    color:white;
    padding:5px;
    width:200px;
    margin:2%;

}


div#kango{
    background-color: royalblue;
    color:white;
    padding:5px;
    margin:2%;
    width:200px;
    
}

div#zisseki{
    background-color: royalblue;
    color:white;
    padding:5px;
    margin-left:20%;
    margin-right:20%;
    margin-top :1%;
    margin-bottom:1%
}


.subtitle{
    color:cornflowerblue
}

div.nintei_detail{
    background-color:darkcyan;
    margin-top:20px;
    margin-bottom: 20px;
    margin-left: 5%;
    margin-right:5%;
    padding:30px;

}

div.intro1{
    background-color: silver;
    padding:20px;
}

img.first_intro{
    width:80%;
    height:80%;
}