
header{
    color:midnightblue;
    background-color:white;
    float:left;
    width:100%
}

img.logo{
    width:60px;
    height: 60px;
    float:left;
}

.logo_top{
    float:left;
    padding-bottom: 5px;
    padding-top:5px;
}

body{
    /*background-color: powderblue;*/
    text-align: center;
}

div.siken_detail{
    background-color:royalblue;
    padding:10px;
    margin-top:5%;
    margin-bottom:5%;
    margin-right:20%;
    margin-left:20%;
}

img.first_intro{
    opacity:0.3;
    width:5%;
 
}

.zu{
    margin:10%;
}

img.tenbin{
    width:80%;
}

.top{
    float:left;
}

p.title{
    font-size:2px;
}

.tusin_icon{
    float:left;
    border:solid;
    border-color:blue;
    border-width:thin;
    border-radius: 0.3em;
    font-size: large;
    margin-top:20px;
    margin-bottom:20px;
    margin-left:20px;
}

.title{
    font-family:serif;

}

div#news{
    margin:0 auto;
}

div#newicon{
    float:right;
}


img.newicon{
    width:50px;
    height:25px;
}

div.two_content{  
    display:flex;
    justify-content: center;
}


div#nintei{
    background-color: royalblue;
    color:white;
    padding:5px;
    width:200px;
    margin:2%;

}


div#kango{
    background-color: royalblue;
    color:white;
    padding:5px;
    margin:2%;
    width:200px;
    
}

div#zisseki{
    background-color: royalblue;
    color:white;
    padding:5px;
    margin-left:20%;
    margin-right:20%;
    margin-top :1%;
    margin-bottom:1%
}


.subtitle{
    color:cornflowerblue;
    margin:5%;
}

div.nintei_detail,
div.siken_detail{
    background-color:turquoise;
    margin-top:2%;
    margin-bottom: 2%;
    margin-left: 10%;
    margin-right:10%;
    padding:30px;

}

div.intro1{
    background-color:whitesmoke;
    padding:20px;
}
div.intro2{
    padding:20px;
}

img.first_intro{
    width:80%;
    height:80%;
}

div.corse_intro{
    background-color:whitesmoke;
    padding-top: 5%;
    padding-bottom:5%;
}


div.kounin_detail{
    margin:10%;
    text-align: right;
}
div.iryou_detail{
    margin:10%;
    text-align: left;
}